html,
body {
	font-family: "Roboto Regular" !important;
	font-size: 16px;
	color: #4d4d4d;
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	width: 100%;
}

table {
	width: 100%;
}

.table-box_ {
	width: 100%;
}

@font-face {
	font-family: "Roboto Medium";
	src: url("/assets/fonts/Roboto-Medium.eot");
	src: url("/assets/fonts/Roboto-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("/assets/fonts/Roboto-Medium.woff2") format("woff2"),
		url("/assets/fonts/Roboto-Medium.woff") format("woff"),
		url("/assets/fonts/Roboto-Medium.ttf") format("truetype"),
		url("/assets/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Thin";
	src: url("/assets/fonts/Roboto-Thin.eot");
	src: url("/assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/Roboto-Thin.woff2") format("woff2"),
		url("/assets/fonts/Roboto-Thin.woff") format("woff"),
		url("/assets/fonts/Roboto-Thin.ttf") format("truetype"),
		url("/assets/fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Light";
	src: url("/assets/fonts/Roboto-Light.eot");
	src: url("/assets/fonts/Roboto-Light.eot?#iefix")
			format("embedded-opentype"),
		url("/assets/fonts/Roboto-Light.woff2") format("woff2"),
		url("/assets/fonts/Roboto-Light.woff") format("woff"),
		url("/assets/fonts/Roboto-Light.ttf") format("truetype"),
		url("/assets/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Bold";
	src: url("/assets/fonts/Roboto-Bold.eot");
	src: url("/assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/Roboto-Bold.woff2") format("woff2"),
		url("/assets/fonts/Roboto-Bold.woff") format("woff"),
		url("/assets/fonts/Roboto-Bold.ttf") format("truetype"),
		url("/assets/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto Regular";
	src: url("/assets/fonts/Roboto-Regular.eot");
	src: url("/assets/fonts/Roboto-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("/assets/fonts/Roboto-Regular.woff2") format("woff2"),
		url("/assets/fonts/Roboto-Regular.woff") format("woff"),
		url("/assets/fonts/Roboto-Regular.ttf") format("truetype"),
		url("/assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.title {
	font-family: "Roboto Bold";
}

.mb-0 {
	margin-bottom: 0px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-40 {
	margin-bottom: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.no-padd-right {
	padding-right: 0;
}

ul {
	margin-bottom: 0 !important;
}

.content-wrapper {
	padding: 0 30px;
}

.table-box {
	width: 100%;
	padding: 20px;
	box-shadow: 1px 1px 9px #ccc;
	margin-top: 30px;
}

.device table tr td {
	font-size: 14px;
}

.table thead th,
.table-bordered th,
.table-bordered td,
.react-bs-table-bordered {
	border: 0px solid transparent !important;
}

.react-bs-container-body td img {
	max-width: 100%;
}

.device .draggable {
	border-bottom: 1px solid #f2f2f2;
}

.sort-column {
	position: relative;
}

.sort-column:before {
	content: url("/assets/images/icon-order.png");
	position: absolute;
	right: 10px;
	top: 15px;
	color: #b3b3b3;
}

.react-bs-table-sizePerPage-dropdown .dropdown-menu {
	min-width: 45px;
}

.device .Select-placeholder {
	padding-left: 10px !important;
}

.react-bs-table-container {
	position: relative;
}

.sizePerPageList {
	position: absolute;
	top: 0;
	left: 0px;
}

.page-item.active .page-link {
	background-color: #1227a0;
	border-color: #1227a0;
}

.box-dash {
	padding: 30px 20px;
	border: 1px dotted #ccc;
}

.title-page {
	font-family: "Roboto Bold";
	font-size: 25px;
	margin-bottom: 30px;
}

.color-primary {
	color: #1227a0;
}

.bt .btn {
	margin-right: 7px;
}

i {
	color: #1227a0;
}

.device .list-group {
	margin-bottom: 0 !important;
}

.device tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.react-bs-table table td {
	white-space: normal;
	font-size: 14px;
	overflow: hidden;
}

.react-bs-table table td a {
	cursor: pointer;
}
select option:first-of-type {
	display: none;
}
.device .Select-control {
	border: none;
	font-size: 12px;
	position: relative;
}

.device .Select-clear {
	display: none;
}

.device input {
	border: none !important;
}

.device thead {
	background-color: #f2f2f2;
	padding: 10px;
}

.device thead th,
.device tbody td {
	padding: 0 5px;
	color: #4d4d4d;
}
.Select-control > *:last-child {
	padding-right: 0;
}

.device tbody td {
	font-size: 14px;
}

.device thead th {
	font-weight: normal;
}

.device .Select-placeholder,
.device .Select--single > .Select-control .Select-value {
	margin-left: 0;
}

.btn {
	height: 33px;
	cursor: pointer;
	font-size: 14px;
	padding: 0px 20px;
	border-radius: 5px;
	color: #0056b3;
	display: inline-block;
}

.btn.btn-default {
	background-color: #ffffff;
	border: 1px solid #0056b3;
}

.inline {
	padding-left: 0;
	list-style-type: circle;
}

.inline li {
	display: inline-block;
	margin-right: 15px;
	list-style-type: circle;
}

.inline li:before {
	content: "•";
	padding-right: 8px;
	color: #4d4d4d;
}

.box-inner {
	padding: 30px;
}

.line {
	border-bottom: 1px solid #ccc;
}

.List1 {
	width: 100% !important;
}

.draggable {
	cursor: pointer;
}

.draggable:hover:before {
	/* content: url("/assets/images/icon-drag.png");
	left: -15px;
	top: 5px;
	position: absolute; */
}

.dragged:before {
	/* content: url("/assets/images/icon-drag.png");
	left: -15px;
	top: 5px;
	position: absolute; */
}

.box_ {
	float: left;
	border: 1px solid #ccc;
	margin: 16px;
	padding: 90px;
}

.head {
	background-color: #f2f2f2;
	padding: 7px 10px;
}

table {
	width: 100%;
}

.select-planogram {
	text-align: left;
	border: 1px solid #1227a0;
	border-radius: 5px;
	color: #1227a0;
}

.select-planogram .Select-control {
	border: 0;
}

.select-planogram .Select-placeholder {
	color: #1227a0;
}

.select-planogram .Select-arrow {
	border-color: #1228a0 transparent transparent;
}

.select-planogram .Select-control .Select-value .Select-value-label {
	color: #1227a0 !important;
}

.rbt-input-wrapper {
	font-size: 12px;
	color: #95989a;
}

.react-bs-table-pagination .col-md-6:first-child {
	position: absolute;
	top: 0;
}

.react-bs-table-pagination .col-md-6:last-child {
	flex: 0 0 100%;
	float: right;
	width: 100%;
	max-width: 100%;
}

.react-bs-table-pagination .btn {
	border: 1px solid #ced4da;
	color: #4d4d4d;
	height: 38px;
}

.page-link {
	color: #4d4d4d;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	color: #4d4d4d;
	background-color: transparent;
	border-color: #ced4da;
	box-shadow: none;
}
.react-bs-table-pagination .dropdown-menu a {
	color: #4d4d4d;
}

.react-tabs__tab-list {
	background-color: #000;
	color: #fff;
}
.react-tabs__tab {
	border: 0 !important;
	border-bottom: none !important;
	bottom: 0 !important;
}
.react-tabs__tab--selected {
	background: #000 !important;
	border-bottom: 4px solid #fff !important;
	color: white !important;
	border-radius: 0 !important;
}

.react-tabs__tab-list {
	padding: 0 30px !important;
	margin-top: 30px !important;
	padding: 10px 0 0 30px !important;
}

.Select-menu-outer {
	min-width: 200px;
	position: absolute;
	z-index: 1;
}
.Select {
	margin: 5px 0px;
}

.rbt-input {
	height: 35px;
	border: 1px solid #b3b3b3;
	color: #95989a;
	line-height: 1.5;
}

.rbt-input input {
	font-size: 14px;
}

.List {
	width: 100%;
	float: left;
	position: relative;
	z-index: 99;
}

.List .head,
.List .body {
	width: 100%;
}
.device .body {
	padding: 0px 10px;
}
.Select.is-focused:not(.is-open) > .Select-control {
	border-color: transparent !important;
	box-shadow: none !important;
	background: transparent !important;
}

.tabs-info > .react-tabs > .react-tabs__tab-list {
	background-color: transparent;
	color: #1227a080;
	font-size: 24px;
	margin: 0 0 0px;
	padding: 10px 0 0 0px !important;
	font-family: "Roboto Bold";
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tabs-info > .react-tabs > .react-tabs__tab-list > .react-tabs__tab:hover {
	color: #1227a0 !important;
}
.tabs-info
	> .react-tabs
	> .react-tabs__tab-list
	> .react-tabs__tab.react-tabs__tab--selected {
	background-color: transparent !important;
	color: #1227a0 !important;
}
.tabs-info > .react-tabs > .react-tabs__tab-list > .react-tabs__tab {
	padding: 6px 50px 6px 0;
}

.react-tabs__tab:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
}
.react-tabs__tab:focus:after {
	height: 1px !important;
	background: #e5e5e5 !important;
}

@media (max-width: 1400px) {
	body {
		font-size: 14px;
	}
	.box.sm table tr td {
		padding: 5px !important;
		overflow: auto;
		/* white-space: nowrap; */
		text-overflow: ellipsis;
	}
	.react-bs-table table td {
		font-size: 12px;
	}
}

@media (min-width: 1400px) {
	.col-xl-6 {
		max-width: 33.33%;
	}
}
